.container {
    margin-right: 175px; 
    margin-left: 175px;
}

.header-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-info {
    font-family: 'Gilroy', sans-serif !important;
    font-style: normal;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.08em;
    margin-left: 30px;
    margin-right: 30px;
}

.contact-text {
    font-family: 'Gilroy', sans-serif !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.08em;
    white-space: nowrap;
    margin-right: 40px;
}

.phone-holder {
    margin-right: 27px;
}

.phone-num {
    font-family: 'Gilroy', sans-serif !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
    color: black;
}

.phone-text {
    font-family: 'Gilroy', sans-serif !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.08em;
    text-align: right;
    
}

.btn-order-call {
    background-image: linear-gradient(to right, #F39C32, #CB8734);
    padding: 14px 26px;
    font-family: Gilroy;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color:white
}

.navigation {
    margin-top: 60px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-buttons {
    background-color: #3D1E19;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0px 0px 20px 0px #2B2A2833;
    border-radius: 8px;
}

.left-button {
    color: white;
    text-decoration: none;
    font-family: 'Gilroy', sans-serif !important;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 8%;
    margin-left: 60px;
    margin-right: 60px;
}

.right-button {
    font-family: 'Gilroy', sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin-left: 80px;
}

.info-title {
    width: 551px;
    font-family: 'Gilroy', sans-serif !important;
    font-size: 38px;
    font-weight: 800;
    line-height: 50px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 120px;
}

.info-text {
    width: 502px;
    font-family: 'Gilroy', sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 25px;
}

.info-btn-to-catalogs {
    margin-top: 50px;
    
}

.btn-to-catalog-house {
    font-family: 'Gilroy', sans-serif !important;
    background-image: linear-gradient(to right, #F39C32, #CB8734);
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 16px;
    padding: 25px 20px;
    font-weight: 700;
}

.btn-to-catalog-bath {
    font-family: 'Gilroy', sans-serif !important;
    color: #CB8734;
    text-decoration: none;
    margin-left: 85px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.information-about-tasks {
    display: flex;
    justify-content: space-between;
}

.choose-us {
    margin-top: 130px;
    margin-bottom: 195px;
}

.choose-us-title {
    font-family: 'Gilroy', sans-serif !important;
    font-size: 36px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.choose-us-reason {
    margin-top: 33px;
    display: flex;
    justify-content: space-around;
}

.reason {
    text-align: left;
}

.reason-title {
    font-family: 'Gilroy', sans-serif !important;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.reason-text {
    font-family: 'Gilroy', sans-serif !important;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.catalog-projects {
    background-image: url(photo/catalog-projects/background.png);
    background-position: right -200px bottom;
    background-repeat: no-repeat;
}

.common-projects-title {
    font-family: 'Gilroy', sans-serif !important;
    font-size: 36px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 25px;
}


.on-top-projects {
    display: flex;
}

.habitable-project {
    width: 370px;
    background-color: white;
    
}

.habitable-project-image,.commerce-project-image {
    text-align: center;
}

.project-info {
    margin: 36px 20px 20px 50px;
}

.project-title {
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 10px;
}

.project-text {
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.project-get-more-info-image {
    display: flex;
    text-align: left;
}

.project-info-img {
    object-fit: none;
    margin-right: 12px;
}

.project-info-text {
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #CB8734;
}

.commerce-project{
    width: 370px;
    background-color: white;
    margin-left: 30px;
}

.on-bottom-projects {
    margin-top: 35px;
}

.garden-project {
    display: flex;
    width: 770px;
    background-color: white;
    border-top-right-radius: 40px;
}

.project-garden-info {
    margin: 50px 50px;
}

.project-garden-img {
    padding-right: 5px;
    padding-top: 5px;
}

.info-builds {
    margin-top: 290px;
    margin-bottom: 60px;
}

.info-builds-title {
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 372px;
    margin-bottom: 15px;
}

.top-info-builds, .bottom-info-builds {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 570px;
    position: relative;
    background-image: url(photo/build/background-1.png);
    background-repeat: no-repeat;
}

.card-info {
    padding: 85px 40px 40px 40px;
}

.card-title {
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.card-text {
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 485px;
    margin-top: 15px;
    text-align: left;
}

.image-card {
    position:absolute;
    top: -14px;
    right: 26px;
}

.card-2 {
    width: 570px;
    position: relative;
    background-image: url(photo/build/background-2.png);
    background-repeat: no-repeat;
}

.bottom-info-builds {
    height: 370px;
}

.card-3 {
    width: 570px;
    position: relative;
    background-image: url(photo/build/background-3.png);
    background-repeat: no-repeat;
}
.card-4 {
    width: 570px;
    position: relative;
    background-image: url(photo/build/background-4.png);
    background-repeat: no-repeat;
}

.slider {
    margin-bottom: 145px;
}

.slider-image {
    text-align: center;
    margin-bottom: 40px;
}


.about {
    margin-bottom: 290px;
}

.about-title {
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 67px;
}

.about-photo {
    text-align: center;
    position: relative;
}
  
.human-about {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%)
    /* top: -78px;
    left: 550px; */

}

.about-desc-card {
    position: relative ;
    z-index: 9999;
}

.about-desc {
    position: absolute;
    background-color: white;
    width: 570px;
    margin: auto;
    display: flex;
    /* top: -100px;
    left: 468px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.about-desc-logo {
    object-fit: none;
    margin: 38px 22px 96px 43px;
}

.about-info {
    text-align: right;
    margin: 41px 51px 35px 0px;
}

.about-info-title {
    width: 400px;
    height: 30px;
    top: 4797.76px;
    left: 794px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    z-index: 2;
}   

.about-info-text {
    width: 400px;
    height: 78px;
    top: 4833.76px;
    left: 794px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    z-index: 0;
}

.history-advantages {
    margin-top: 150px;
    margin-bottom: 100px;
}

.history-number-text {
    display: flex;
    justify-content: space-between;
}

.history-number {
    font-family: Gilroy;
    font-size: 60px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #CB8734;
    border-bottom: 2px solid #CB8734;
    width: 270px;
    padding-bottom: 15px;
}

.history-number span {
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #CB8734;
}

.history-text {
    width: 231px;
    height: 60px;
    top: 5124px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 18px;
}

.button-get-more-info {
    text-align: center;
}


.types-of-structure-title {
    width: 467px;
    height: 96px;
    top: 5610px;
    left: 373px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 50px;
}

.types-of-structure-cards {
    display: flex;
    justify-content: space-around;
}

.types-of-structure-info {
    width: 370px;
}

.structure-info {
    margin: 10px 9px 290px 40px;
    width: 321px;
}

.structure-info-title {
    width: 301px;
    height: 30px;
    top: 6067px;
    left: 415px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
}

.structure-variants {
    margin-bottom: 25px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.last-articles {
    margin-bottom: 180px;
}

.last-articles-title {
    width: 467px;
    height: 48px;
    top: 6686px;
    left: 373px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 50px;
}

.articles-cards {
    display: flex;
    justify-content: space-around;
}

.article-card {
    width: 370px;
}

.article-info-title {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 365px;
    height: 60px;
    top: 7061px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.article-info-text {
    width: 365px;
    height: 90px;
    top: 7136px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.test {
    display: flex;
    position: relative;
}

.last-word-info {
    margin-right: 70px;
}

.last-word-title {
    width: 467px;
    height: 48px;
    top: 7408px;
    left: 373px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
}

.last-word-text {
    width: 535px;
    width: 535px;
    height: 294px;
    top: 7468px;
    left: 373px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.last-word-image {
    position: absolute;
    left: 50%;
    top: -22%;
}